{% extends './base.html' %}
{% load static %}

{% block body_content %}
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="#">그로더 프로젝트</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#program">Program</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'about-page' %}">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#how-to">How</a></li>
                            <li class="nav-item"><a class="nav-link" href="#faq-section">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header id="main-hero" class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">함께 공부하는 스터디윗미 온라인 독서실</h1>
                                <p class="lead fw-normal text-white-50 mb-4">꿈을 향해 나아가는 스터디 메이트들과 같은 공간에서 공부하며 효율성을 높이세요.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        시작하기
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="row text-center py-4 px-4" style="margin-right: 0; margin-left: 0;">
                                                    <div class="col-md mb-md-0 mb-5">
                                                        <div class="modal-body p-0">
                                                            <h4 class="fw-bolder">바로 시작하기</h4>
                                                            <p class="text-muted">집중해서 공부할 준비가 끝나셨나요? 그럼 바로 스터디 메이트들과 공부하러 가볼까요?</p>
                                                            <button type="button" class="btn btn-primary fw-bolder" onclick="window.open('https://zep.us/play/D6QvjY','_blank')" style="font-size: 1.1rem;">공부 하러가기</button>
                                                        </div>
                                                    </div>
                                                        <div id="modal-divider" class="vr" style="padding: 0;"></div>
                                                        <hr id="modal-horizontal-divider" class="mb-5">
                                                    <div class="col-md">
                                                        <div class="modal-body p-0">
                                                            <h4 class="fw-bolder">처음이신가요?</h4>
                                                            <p class="text-muted">처음이거나 입장코드를 까먹으셨다면 아래를 클릭해주세요!</p>
                                                            <button type="button" class="btn btn-secondary fw-bolder" onclick="window.open('https://forms.gle/7cNttNux1gdyeg3z5','_blank')" style="font-size: 1.1rem;">입장코드 받기</button>                                                            
                                                            {% comment %} <button data-tf-popup="ZcrIQf2c" data-tf-size="70" data-tf-iframe-props="title=Growther Study with me" 
                                                            data-tf-medium="snippet" class="btn btn-secondary fw-bolder" style="font-size: 1.1rem;">입장코드 받기</button> {% endcomment %}
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-outline-light btn-lg px-4" href="#how-to">이용방법</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid rounded-3 my-5" src={% static 'information/images/Growther study with me main 1.png'%} alt="그로더 스터디윗미">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100 img-fluid rounded-3 my-5" src={% static 'information/images/Growther study with me main 2.png'%} alt="그로더 스터디윗미">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100 img-fluid rounded-3 my-5" src={% static 'information/images/Growther study with me main 3.png'%} alt="그로더 스터디윗미">
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Study Example -->
            <section id="program" class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">스터디윗미 시청영상 예시</h2>
                                <p class="lead fw-normal text-muted mb-5">아래와 같은 스터디윗미 영상들을 시청하며 공부해요</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <iframe height="240px" src="https://www.youtube.com/embed/_MXUp5U6ftI?start=1" title="올빼미 다 모여!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body p-4">
                                    <h4 class="card-title">🔥올빼미 다 모여</h4>
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">10시간</div>
                                    <h5 class="card-title">수능공부 Study with me</h5>
                                    <p class="card-text mb-0 text-muted">75분 포모도로 &middot; 고양이</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <iframe height="240px" src="https://www.youtube.com/embed/1ex_bNIFR1A?start=1" title="Glasgow 3 HOUR STUDY WITH ME" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body p-4">
                                    <h4 class="card-title">🏰유럽감성 스터디윗미</h4>
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">3시간</div>
                                    <h5 class="card-title">스코틀랜드 배경 Study with me</h5>
                                    <p class="card-text mb-0 text-muted">50분 포모도로 &middot; 글라스고</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <iframe height="240px" src="https://www.youtube.com/embed/HMyn6eMV0OA?start=1" title="연고티비 스터디윗미" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body p-4">
                                    <h4 class="card-title">👩‍⚕️연대 의대생 밤샘공부</h4>
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">5시간</div>
                                    <h5 class="card-title">연고티비 밤샘 Study with me</h5>
                                    <p class="card-text mb-0 text-muted">시험공부 &middot; 벼락치기</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">함께인듯 함께아닌 함께하는 스터디윗미</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-universal-access-circle"></i></div>
                                    <h3 class="h5">온라인 독서실</h3>
                                    <p class="mb-0">가상공간에서 스터디 메이트들과 함께 동기부여를 하며 공부해요.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person-hearts"></i></div>
                                    <h3 class="h5">스터디 메이트</h3>
                                    <p class="mb-0">꿈을 향해 노력하는 친구들을 공간제약없이 만날 수 있어요.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-wechat"></i></div>
                                    <h3 class="h5">혼자가 아닌 너</h3>
                                    <p class="mb-0">같은 시간에 같은 영상을 보며 공부하는 친구들을 보며 동기부여를 받으세요.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-shield-shaded"></i></div>
                                    <h3 class="h5">프라이버시 보호</h3>
                                    <p class="mb-0">취향에 따라 오디오와 비디오를 끄고 오롯이 공부에 집중할 수 있어요.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Gymsaying section-->
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last text-cetner"><img class="img-fluid rounded mb-5 mb-lg-0" src={% static "information/images/dream saying walt disney.png"%} alt="월트 디즈니 꿈 명언" /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">당신의 노력과 꿈을 응원합니다</h2>
                            <p class="lead fw-normal text-muted mb-0"><i>"실패하는게 두려운 게 아니라 노력하지 않는게 두렵다"</br> - 마이클 조던</i></p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- how-to-section -->
            <section id="how-to" class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">그로더 이용방법</h2>
                                <p class="lead fw-normal text-muted mb-5">쉽고 간단한 그로더의 이용방법을 확인해보세요.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        {% for how_to in how_tos %}
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src={% get_static_prefix %}{{ how_to.img_path }} alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{ how_to.hashtag }}</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#main-hero"><h5 class="card-title mb-3">{{ how_to.instruction_header }}</h5></a>
                                    <p class="card-text mb-0">{{ how_to.instruction_content }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
                    <!-- FAQ -->
            <section id="faq-section" class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h2 class="fw-bolder">궁금한 점이 있으신가요?</h2>
                        <p class="lead fw-normal text-muted mb-0">궁금할만한 내용들을 아래 모아봤어요 &#128536;</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xl-8">
                            <!-- FAQ Accordion 1-->
                            <div class="accordion mb-5" id="accordionExample">
                                {% for faq in faqs %}
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="heading{{ faq.heading_num }}"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ faq.collapse_num }}" aria-expanded="true" aria-controls="collapse{{ faq.collapse_num }}">{{ faq.question }}</button></h3>
                                    <div class="accordion-collapse collapse" id="collapse{{ faq.collapse_num }}" aria-labelledby="heading{{ faq.heading_num }}" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            {{ faq.answer }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    {% endblock body_content %}
